:root{
    --green: #00FF00;
    --white: #ffffff;
    --black: #000000;
}
*{
    color: var(--fontColor);
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background: var(--bg);
}
.links{
    color: blue;
}
ul{
    font-family:Arial, Helvetica, sans-serif;
}
li {

    list-style: circle;
    
    }
    
    .list {
    
    list-style: square;
    
    }
    .dark-theme{
        --bg: var(--black);
        --fontColor: rgb(71, 204, 105);
        --btnBg: var(--white);
        --btnFontColor: var(--black);
    }
    .dark-theme a{
        color: rgb(0, 238, 255);
    }
    .btn{
        position: absolute;
        top: 75px;
        left: 400px;
        height: 100px;
        width: 100px;
        border-radius: 10%;
        border: solid #736464;
        color: var(--black);
        background-color: rgb(206, 202, 202);
    }
    .btn:focus{outline-style: none;}